@model IEnumerable<ListEmployeesViewModel>
@inject SignInManager<IdentityUser> signInManager;
@{
    ViewData["Title"] = "ListEmployees";
}

<h1>ListEmployees</h1>
@if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Register" asp-controller="Account">Add new employee</a>
}
<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Surname</th>
            <th scope="col">User role</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model)
            {
                <tr>
                    <th scope="row">@m.Id</th>
                    <td>@m.Name</td>
                    <td>@m.Surname</td>
                    <td>@m.Rolename</td>
                    <td><a class="btn btn-primary" role="button" asp-controller="Boss" asp-action="FireEmployee" asp-route-id="@m.Id">Dismiss</a></td>
                </tr>
            }
        }
    </tbody>
</table>
