@model ListRepairAssignViewModel
@{
    ViewData["Title"] = "ListRepairsInProgress";
}

<h1>ListRepairsInProgress</h1>

<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Car</th>
            <th scope="col">VIN</th>
            <th scope="col">Production Year</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Assign Employee</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mr in Model.Repairs)
        {
            @if (mr.StatusId == 9)
            {
                <tr style="background-color: yellow;">
                    <th scope="row">@mr.Id</th>
                    <td>@mr.Car.CarModel.CarBrand.Name @mr.Car.CarModel.Name</td>
                    <td>@mr.Car.VIN</td>
                    <td>@mr.Car.ProductionYear</td>
                    <td>@mr.RepairStatus.Name</td>
                    <td>
                        @foreach (var mu in Model.UsedRepairTypes)
                        {
                            if (mr.Id == mu.RepairId)
                            {
                                @mu.RepairType.Name
                                <p></p>
                            }
                        }
                    </td>
                    <td>@mr.Employees.Name @mr.Employees.Surname</td>
                    <td><a class="btn btn-primary" role="button" asp-controller="Office" asp-action="CustomerCarRepair" asp-route-id="@mr.Id">Client</a></td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@mr.Id</th>
                    <td>@mr.Car.CarModel.CarBrand.Name @mr.Car.CarModel.Name</td>
                    <td>@mr.Car.VIN</td>
                    <td>@mr.Car.ProductionYear</td>
                    <td>@mr.RepairStatus.Name</td>
                    <td>
                        @foreach (var mu in Model.UsedRepairTypes)
                        {
                            if (mr.Id == mu.RepairId)
                            {
                                @mu.RepairType.Name
                                <p></p>
                            }
                        }
                    </td>
                    <td>@mr.Employees.Name @mr.Employees.Surname</td>
                    <td><a class="btn btn-primary" role="button" asp-controller="Office" asp-action="CustomerCarRepair" asp-route-id="@mr.Id">Client</a></td>
                </tr>
            }
        }
    </tbody>
</table>