@model PartsAvailiablePartsViewModel
@{
    ViewData["Title"] = "AvailiableParts";
}

<h1>AvailiableParts</h1>

@*@foreach (var item in Model.PartsList)
    {
    <li>
        @item.Name
        @item.PartPrice
        @item.Quantity
        @if (item.Quantity<=0)
        {
            <span>BRAK!!!</span>
        }
        </li>
        <br />
    }*@

<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Part Price</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var m in Model.PartsList)
            {
                <tr>
                    <th scope="row">@m.Id</th>
                    <td>@m.Name</td>
                    <td>@m.Quantity</td>
                    <td>@m.PartPrice</td>
                </tr>
            }
        }
    </tbody>
</table>

<form>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">
                <a class="nav-link text-white" asp-controller="Parts" asp-action="SupplyParts" method="get">Supply parts </a>
            </button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">
                <a class="nav-link text-white" asp-controller="Parts" asp-action="AddParts" method="get">Add parts </a>
            </button>
        </div>
    </div>
</form>
