@model PartsAvailiablePartsViewModel
@{
    ViewData["Title"] = "AvailiableParts";
}

<h1>AvailiableParts</h1>

<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Part Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.PartsList)
        {
            @if (m.Quantity == 0)
            {

                <tr style="background-color: red;">
                    <th scope="row">@m.Id</th>
                    <td>@m.Name</td>
                    <td>@m.Quantity</td>
                    <td>@m.PartPrice</td>
                </tr>
            }
            else
            {
                <tr>
                    <th scope="row">@m.Id</th>
                    <td>@m.Name</td>
                    <td>@m.Quantity</td>
                    <td>@m.PartPrice</td>
                </tr>
            }
        }

    </tbody>
</table>

<a class="btn btn-primary" role="button" asp-controller="Parts" asp-action="SupplyParts">Supply parts</a>
<a class="btn btn-primary" role="button" asp-controller="Parts" asp-action="AddParts">Add Parts</a>
