@model ListRepairAssignedToMechanicViewModel
@{
    ViewData["Title"] = "ListRepairAssignedToMechanic";
}

<h1>ListRepairAssignedToMechanic</h1>

<table class="table" style="margin-top: 20px">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Car</th>
            <th scope="col">VIN</th>
            <th scope="col">Production Year</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
    </thead>
    <tbody>
        @foreach (var mr in Model.repairs)
        {
        <tr>
            <th scope="row">@mr.Id</th>
            <td>@mr.Car.CarModel.CarBrand.Name @mr.Car.CarModel.Name</td>
            <td>@mr.Car.VIN</td>
            <td>@mr.Car.ProductionYear</td>
            <td>@mr.Status</td>
            <td>
                @foreach (var mu in Model.usedRepairTypes)
                {
                    if (mr.Id == mu.RepairId)
                    {
                        @mu.RepairType.Name
                    }
                }
            </td>
            <td><a class="btn btn-primary" role="button" asp-controller="Mechanic" asp-action="AddPartToRepair" asp-route-id="@mr.Id">Add Parts</a></td>
            <td><a class="btn btn-primary" role="button" asp-controller="Mechanic" asp-action="ChangeStatus" asp-route-id="@mr.Id">Change status</a></td>
            <td><a class="btn btn-primary" role="button" asp-controller="Mechanic" asp-action="AddRepairTypeToRepair" asp-route-id="@mr.Id">Add Fault</a></td>
            <td><a class="btn btn-primary" role="button" asp-controller="Mechanic" asp-action="SetRepairCost" asp-route-id="@mr.Id">Valuation</a></td>
        </tr>
        }

    </tbody>
</table>